#main-content {
    padding-bottom: 20px;
}
h2 {
    font-size: 20px;
    display: block;
    margin-top: 20px;
}

.flex-container {

}
  
.item {
   
    border: 1px solid #cdcdcd;
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
}

.item h3 {
    font-size: 10px;
    font-weight: lighter;
}
#display {
    width: 100%;
}

.center {
    text-align: center;
}
#inputText {
    display: block;
    width: 100%;
}


footer {
    text-align: center;
}

.text {
    padding-top: 10px;
}