
@font-face {
    font-family:"MyanmarAngoun";
    src:local('MyanmarAngoun'),url('./KhmerType/MyanmarAngoun.ttf') format('truetype');
}
.MyanmarAngoun {
    font-family: "MyanmarAngoun";
}
        
@font-face {
    font-family:"MyanmarChatu";
    src:local('MyanmarChatu'),url('./KhmerType/MyanmarChatu.ttf') format('truetype');
}
.MyanmarChatu {
    font-family: "MyanmarChatu";
}
        
@font-face {
    font-family:"MyanmarChatuLight";
    src:local('MyanmarChatuLight'),url('./KhmerType/MyanmarChatuLight.ttf') format('truetype');
}
.MyanmarChatuLight {
    font-family: "MyanmarChatuLight";
}
        
@font-face {
    font-family:"MyanmarGantgaw";
    src:local('MyanmarGantgaw'),url('./KhmerType/MyanmarGantgaw.ttf') format('truetype');
}
.MyanmarGantgaw {
    font-family: "MyanmarGantgaw";
}
        
@font-face {
    font-family:"MyanmarKhyay";
    src:local('MyanmarKhyay'),url('./KhmerType/MyanmarKhyay.ttf') format('truetype');
}
.MyanmarKhyay {
    font-family: "MyanmarKhyay";
}
        
@font-face {
    font-family:"MyanmarKuttar";
    src:local('MyanmarKuttar'),url('./KhmerType/MyanmarKuttar.ttf') format('truetype');
}
.MyanmarKuttar {
    font-family: "MyanmarKuttar";
}
        
@font-face {
    font-family:"MyanmarNayone";
    src:local('MyanmarNayone'),url('./KhmerType/MyanmarNayone.ttf') format('truetype');
}
.MyanmarNayone {
    font-family: "MyanmarNayone";
}
        
@font-face {
    font-family:"MyanmarNjaun";
    src:local('MyanmarNjaun'),url('./KhmerType/MyanmarNjaun.ttf') format('truetype');
}
.MyanmarNjaun {
    font-family: "MyanmarNjaun";
}
        
@font-face {
    font-family:"MyanmarPauklay";
    src:local('MyanmarPauklay'),url('./KhmerType/MyanmarPauklay.ttf') format('truetype');
}
.MyanmarPauklay {
    font-family: "MyanmarPauklay";
}
        
@font-face {
    font-family:"MyanmarPhetsot";
    src:local('MyanmarPhetsot'),url('./KhmerType/MyanmarPhetsot.ttf') format('truetype');
}
.MyanmarPhetsot {
    font-family: "MyanmarPhetsot";
}
        
@font-face {
    font-family:"MyanmarPhiksel";
    src:local('MyanmarPhiksel'),url('./KhmerType/MyanmarPhiksel.ttf') format('truetype');
}
.MyanmarPhiksel {
    font-family: "MyanmarPhiksel";
}
        
@font-face {
    font-family:"MyanmarPhikselSmooth";
    src:local('MyanmarPhikselSmooth'),url('./KhmerType/MyanmarPhikselSmooth.ttf') format('truetype');
}
.MyanmarPhikselSmooth {
    font-family: "MyanmarPhikselSmooth";
}
        
@font-face {
    font-family:"MyanmarPonenyet";
    src:local('MyanmarPonenyet'),url('./KhmerType/MyanmarPonenyet.ttf') format('truetype');
}
.MyanmarPonenyet {
    font-family: "MyanmarPonenyet";
}
        
@font-face {
    font-family:"MyanmarSabae";
    src:local('MyanmarSabae'),url('./KhmerType/MyanmarSabae.ttf') format('truetype');
}
.MyanmarSabae {
    font-family: "MyanmarSabae";
}
        
@font-face {
    font-family:"MyanmarSagar";
    src:local('MyanmarSagar'),url('./KhmerType/MyanmarSagar.ttf') format('truetype');
}
.MyanmarSagar {
    font-family: "MyanmarSagar";
}
        
@font-face {
    font-family:"MyanmarSanpya";
    src:local('MyanmarSanpya'),url('./KhmerType/MyanmarSanpya.ttf') format('truetype');
}
.MyanmarSanpya {
    font-family: "MyanmarSanpya";
}
        
@font-face {
    font-family:"MyanmarTagu";
    src:local('MyanmarTagu'),url('./KhmerType/MyanmarTagu.ttf') format('truetype');
}
.MyanmarTagu {
    font-family: "MyanmarTagu";
}
        
@font-face {
    font-family:"MyanmarThuriya";
    src:local('MyanmarThuriya'),url('./KhmerType/MyanmarThuriya.ttf') format('truetype');
}
.MyanmarThuriya {
    font-family: "MyanmarThuriya";
}
        
@font-face {
    font-family:"MyanmarWaso";
    src:local('MyanmarWaso'),url('./KhmerType/MyanmarWaso.ttf') format('truetype');
}
.MyanmarWaso {
    font-family: "MyanmarWaso";
}
        
@font-face {
    font-family:"MyanmarYinmar";
    src:local('MyanmarYinmar'),url('./KhmerType/MyanmarYinmar.ttf') format('truetype');
}
.MyanmarYinmar {
    font-family: "MyanmarYinmar";
}
        

@font-face {
    font-family:"CherryUnicode";
    src:local('CherryUnicode'),url('./unknown/CherryUnicode.ttf') format('truetype');
}
.CherryUnicode {
    font-family: "CherryUnicode";
}
        
@font-face {
    font-family:"Kamjing";
    src:local('Kamjing'),url('./unknown/Kamjing.ttf') format('truetype');
}
.Kamjing {
    font-family: "Kamjing";
}
        
@font-face {
    font-family:"MyanmarAngoun";
    src:local('MyanmarAngoun'),url('./unknown/MyanmarAngoun.ttf') format('truetype');
}
.MyanmarAngoun {
    font-family: "MyanmarAngoun";
}
        
@font-face {
    font-family:"MyanmarBlack";
    src:local('MyanmarBlack'),url('./unknown/MyanmarBlack.ttf') format('truetype');
}
.MyanmarBlack {
    font-family: "MyanmarBlack";
}
        
@font-face {
    font-family:"MyanmarHeadOne";
    src:local('MyanmarHeadOne'),url('./unknown/MyanmarHeadOne.ttf') format('truetype');
}
.MyanmarHeadOne {
    font-family: "MyanmarHeadOne";
}
        
@font-face {
    font-family:"MyanmarSabae";
    src:local('MyanmarSabae'),url('./unknown/MyanmarSabae.ttf') format('truetype');
}
.MyanmarSabae {
    font-family: "MyanmarSabae";
}
        
@font-face {
    font-family:"MyanmarSansPro";
    src:local('MyanmarSansPro'),url('./unknown/MyanmarSansPro.ttf') format('truetype');
}
.MyanmarSansPro {
    font-family: "MyanmarSansPro";
}
        
@font-face {
    font-family:"MyanmarSquare";
    src:local('MyanmarSquare'),url('./unknown/MyanmarSquare.ttf') format('truetype');
}
.MyanmarSquare {
    font-family: "MyanmarSquare";
}
        
@font-face {
    font-family:"MyanmarSquareLight";
    src:local('MyanmarSquareLight'),url('./unknown/MyanmarSquareLight.ttf') format('truetype');
}
.MyanmarSquareLight {
    font-family: "MyanmarSquareLight";
}
        
@font-face {
    font-family:"NKSSmart2";
    src:local('NKSSmart2'),url('./unknown/NKSSmart2.ttf') format('truetype');
}
.NKSSmart2 {
    font-family: "NKSSmart2";
}
        
@font-face {
    font-family:"NKSSmart3";
    src:local('NKSSmart3'),url('./unknown/NKSSmart3.ttf') format('truetype');
}
.NKSSmart3 {
    font-family: "NKSSmart3";
}
        
@font-face {
    font-family:"NKSSmart4";
    src:local('NKSSmart4'),url('./unknown/NKSSmart4.ttf') format('truetype');
}
.NKSSmart4 {
    font-family: "NKSSmart4";
}
        
@font-face {
    font-family:"NamKhoneUnicode";
    src:local('NamKhoneUnicode'),url('./unknown/NamKhoneUnicode.ttf') format('truetype');
}
.NamKhoneUnicode {
    font-family: "NamKhoneUnicode";
}
        
@font-face {
    font-family:"Yangon";
    src:local('Yangon'),url('./unknown/Yangon.ttf') format('truetype');
}
.Yangon {
    font-family: "Yangon";
}
        
@font-face {
    font-family:"YoeYar-One";
    src:local('YoeYar-One'),url('./unknown/YoeYar-One.ttf') format('truetype');
}
.YoeYar-One {
    font-family: "YoeYar-One";
}
        

@font-face {
    font-family:"Mon3";
    src:local('Mon3'),url('./other/Mon3.ttf') format('truetype');
}
.Mon3 {
    font-family: "Mon3";
}
        
@font-face {
    font-family:"MyMyanmarUniversal";
    src:local('MyMyanmarUniversal'),url('./other/MyMyanmarUniversal.ttf') format('truetype');
}
.MyMyanmarUniversal {
    font-family: "MyMyanmarUniversal";
}
        
@font-face {
    font-family:"MyanmarSansPro";
    src:local('MyanmarSansPro'),url('./other/MyanmarSansPro.ttf') format('truetype');
}
.MyanmarSansPro {
    font-family: "MyanmarSansPro";
}
        
@font-face {
    font-family:"NotoSanMyanmar";
    src:local('NotoSanMyanmar'),url('./other/NotoSanMyanmar.ttf') format('truetype');
}
.NotoSanMyanmar {
    font-family: "NotoSanMyanmar";
}
        
@font-face {
    font-family:"NotoSansMyanmarUI";
    src:local('NotoSansMyanmarUI'),url('./other/NotoSansMyanmarUI.ttf') format('truetype');
}
.NotoSansMyanmarUI {
    font-family: "NotoSansMyanmarUI";
}
        
@font-face {
    font-family:"NotoSerifMyanmar";
    src:local('NotoSerifMyanmar'),url('./other/NotoSerifMyanmar.ttf') format('truetype');
}
.NotoSerifMyanmar {
    font-family: "NotoSerifMyanmar";
}
        
@font-face {
    font-family:"Ours-Unicode";
    src:local('Ours-Unicode'),url('./other/Ours-Unicode.ttf') format('truetype');
}
.Ours-Unicode {
    font-family: "Ours-Unicode";
}
        
@font-face {
    font-family:"Pyidaungsu";
    src:local('Pyidaungsu'),url('./other/Pyidaungsu.ttf') format('truetype');
}
.Pyidaungsu {
    font-family: "Pyidaungsu";
}
        
@font-face {
    font-family:"Yunghkio";
    src:local('Yunghkio'),url('./other/Yunghkio.ttf') format('truetype');
}
.Yunghkio {
    font-family: "Yunghkio";
}

@font-face {
    font-family: "NotoZawDecode";
    src:local('Noto Sans Myanmar UI'),url('./other/NotoSansMyanmarUI-Regular-ZawDecode.ttf') format('truetype');
}

.NotoZawDecode {
    font-family: "NotoZawDecode";
}
        